.comic_list {
    margin-bottom: 40px;
    text-align: left;
    color: black;
    font-size: 1rem;

    .comic_box {
       margin-bottom: 15px;
    }

    .btn_comic {
        background-color: #7b02c5;
    }

    a {
        color: black;
    }
}